<!--ADD_PAGE-->
<br>
<br>
<div class="container well label-font div-shadow">
    <p>
        00<%= buyback.order_id %>
    </p> 
    <p>
        <h1><b><%= buyback.price %></b></h1>
    </p> 
    <p>
        <%= buyback.condition %>
    </p> 
    <p>
        <%= buyback.source %>
    </p> 
    <p>
        <h1><%= buyback.isbn %></h1>
    </p> 
</div>
