<!--ADD_PAGE-->
<br>
<br>
<div class="container card card-body label-font div-shadow label">
    <p>
        <h2><%= truncate(buyback.title, escape: false, :length => 50) %></h2>
    </p> 
    <p>
        <h1><a href="http://metabase.textbookmaniac.com/dashboard/11?isbn=<%= buyback.isbn %>" target="_blank"><%= buyback.isbn %></a> - - [ A ]  [ G ]  [ VG ]  [ LN ]  [ N ]</h1>
    </p> 
    <p>
        <h1><%= buyback.restricted %><%= buyback.source %> | <b><%= buyback.buyback_id %>-1A-<%= buyback.price %></b></h1>
    </p> 
    <p class="no-bottom">
    <h2><a href="https://source.valorebooks.com/refunds/index/<%= buyback.order_id %>" target="_blank"><%= buyback.order_id %></a> | <%= buyback.o_created_at[0,5] %> | <%= params[:initials] %></h2>
    </p> 
</div>
