<!--ADD_PAGE-->
<br>
<br>
<div class="container well label-font div-shadow">
    <p>
        <%= buyback.source %> | <%= buyback.title %>
    </p> 
    <p>
        <h1><a href="http://metabase.textbookmaniac.com/dashboard/11?isbn=<%= buyback.isbn %>" target="_blank"><%= buyback.isbn %></a></h1>
    </p> 
    <p>
        <h1><b><%= buyback.price %></b></h1>
    </p> 
    <a href="https://buyback.textbookmaniac.com/admin/orders/<%= buyback.order_hash %>" target="_blank">00<%= buyback.order_id %></a>
</div>
