<div class="container well">
    <p>
        00<%= buyback.order_id %>
    </p> 
    <p>
        <%= buyback.price %>
    </p> 
    <p>
        <%= buyback.isbn %>
    </p> 
    <p>
        <%= buyback.condition %>
    </p> 
    <p>
        <%= buyback.source %>
    </p> 
    <p>
        <%= buyback.buyback_id %>
    </p> 
</div>
<!--ADD_PAGE-->