<div id="uploader" class="card card-body div-shadow no-radius label upload-container">
    <div class="container">
        
        <br>

        <%= form_tag ({ :controller => 'buybacks', :action => 'destroy_them_all'}) do%>
            <%= submit_tag 'Reset', data: { confirm: "Are you sure you want to reset the Orders database?" }, class: "d-none btn btn-danger div-shadow font-20 float-right" %>
        <% end %>
        
        <a href="https://source.valorebooks.com/shipments/index" target="_blank" class="btn btn-primary div-shadow font-20">Download Valore Orders</a>
        <br>
        <br>
        
        <%= form_for :buyback, url: buybacks_path do |f| %>
            <div class="form-group uploader">
                <%= f.label :file, "Upload Orders For: " %>
                <%= f.select :destination, raw("<option>Amazon</option><option>Nebraska</option><option>Other</option>"), :required => 'required', class: '' %>
                <%= f.file_field :file, class: 'form-control-file btn btn-warning div-shadow uploader', required: true %>
            </div>
            <%= f.text_field :initials, placeholder: "Initials", :minlength => 2, :maxlength => 2, onkeyup: 'this.value = this.value.toUpperCase();', :required => 'required', class: 'input-shadow init-input div-shadow font-20' %>
            <%= button_tag type: 'submit', class: "btn btn-secondary div-shadow font-20", id: "submit-button" do %>
                <i class="fas fa-upload"></i> Upload
            <% end %>
        <% end %>

        <br>

        <% @all_buybacks[0,1].each do |all_buyback|%>
            <center>
                Database last updated on <b><%= all_buyback.created_at.strftime("%m/%d/%Y") %></b> at <%= all_buyback.created_at.strftime("%I:%M %p") %>
            </center>
        <% end %>
        <br>
        <center>
        <div class="btn btn-warning div-shadow" id="upload-hide">Close</div>
        </center>

    </div>
</div>