<div id="uploader" class="card card-body div-shadow no-radius label upload-container fixed-top bg-light mt-5" style="z-index:5010">
    <div class="container">
        
        <br>


        <%= form_tag ({ :controller => 'buybacks', :action => 'destroy_them_all'}) do%>
            <%= submit_tag 'Reset', data: { confirm: "Are you sure you want to reset the Orders database?" }, class: "d-none btn btn-danger div-shadow font-20 float-right" %>
        <% end %>
        
        <%= form_for :buyback, url: buybacks_path do |f| %>
            <div class="form-group uploader">
                <% if @buybacks.present? %>
                    <%= f.select :append, raw("<option>Create New Order</option><option>Append Current Order</option>"), :required => 'required', class: '' %>
                    <% @buybacks[0,1].each do |buyback|%>
                        <div style="display:none">
                            <%= f.text_field :append_vendor, value: buyback.vendor, :required => 'required', class: '' %>
                            <%= f.text_field :append_order_id, value: buyback.order_id, :required => 'required', class: '' %>
                            <%= f.text_field :append_source, value: buyback.source, :required => 'required', class: '' %>
                        </div>
                    <% end %>
                    <br>   
                    <br> 
                <% else %>
                    <div style="display:none">
                        <%= f.select :append, raw("<option>Create New Order</option>"), :required => 'required', class: '' %>
                    </div>
                <% end %>
                <div id="new-upload">             
                    <%= f.label :file, "Upload Orders For: " %>
                    <%= f.select :destination, raw("<option>Valore</option><option>Other</option>"), :required => 'required', class: '' %>
                    <div id="vendor-select">
                        <%= f.label :user_custom, "Vendor: " %>
                        <% if current_user.custom.to_s !="" %>
                            <%= f.text_field :user_custom, value: current_user.custom, :required => 'required', class: '' %>
                        <% else %>
                            <%= f.text_field :user_custom, value: 'General', :required => 'required', class: '' %>
                        <% end %>
                        <%= render 'sample' %>
                    </div>
                    <div id="valore-link">
                        <a href="https://source.valorebooks.com/shipments/index" target="_blank" class="btn btn-primary div-shadow font-20">Download Valore Orders</a>
                        <br>
                        <br>
                    </div>
                </div>
                <div id="sample">  
                    <%= render 'sample' %>
                    
                </div>
                <%= f.file_field :file, class: 'form-control-file btn btn-warning div-shadow uploader-file', required: true %>
                <p class="pt-3">Shipper: <%= f.select :shipper, raw("<option>USPS</option><option>FedEx</option><option>UPS</option><option>Other</option>"), class: '' %></p>
                <p class="pt-1"><%= f.text_field :tracking_number, placeholder: "Tracking Number", class: '' %></p>
            </div>

            <%= button_tag type: 'submit', class: "btn btn-secondary div-shadow font-20", id: "submit-button" do %>
                <i class="fas fa-upload"></i> Upload
            <% end %>
        <% end %>

        <br>

        <% @all_buybacks.order("created_at DESC")[0,1].each do |all_buyback|%>
            <center>
                Database last updated on <b><%= all_buyback.created_at.strftime("%m/%d/%Y") %></b> at <%= all_buyback.created_at.strftime("%I:%M %p") %>
            </center>
        <% end %>
        <br>
        <center>
            <div class="btn btn-warning div-shadow rounded-circle" id="upload-hide"><i class="fas fa-times"></i></div>
        </center>

    </div>
</div>