<% @vendor_buybacks[0,1].each do |buyback|%>
    <% if session[:passed_variable] == buyback.buyback_id %>
        <div id="print-check" style="margin-bottom: -35px; display:none">1</div>
    <% else %>
        
    <% end %>
<% end %>

<% @vendor_buybacks[0,1].each do |buyback|%>
    <% if @vendor_order_id == params[:search] %>
        <br>
        <div class='card card-body flex-row div-shadow mt-2 bg-secondary d-flex align-content-start text-center flex-wrap rounded-0'>
            <div class='container card-body flex-row d-flex align-content-start text-center flex-wrap'>
                <div class='card card-body m-3 text-dark div-shadow te'>
                    Order Number: <a href="/buybacks?search=<%= @vendor_order_id %>" target="_self"><b><%= @vendor_order_id %></b></a>
                </div>
                <div class='card card-body m-3 text-dark div-shadow te'>
                    Total Items in Order: <b><%= @vendor_buybacks_counter.count %></b>
                </div>
                <div id="review" class='card card-body m-3 text-dark bg-warning div-shadow cursor-pointer te'>
                    Items to Process: <span id='items-left'><b><%= @vendor_buybacks_counter.where(status: ["Review", "Review-Keep"]).count + @vendor_buybacks_counter.where(status: ["Reject-Blue", "Reject-Yellow"]).where(notes: "").count %></b></span>
                </div>

            
            </div>  
        </div>
    <% end %>
    <% if @vendor_order_id == params[:search] %>
        <nav class='card card-body mt-0 mb-0 pb-0 pt-0 div-shadow bg-light d-flex flex-row justify-content-center sticky-top pointer-no rounded-0' style="top:63px;z-index:11;">
            <div id="keep" class='btn btn-success div-shadow mt-2 mb-2 mr-3 ml-3 pt-1 pb-1 cursor-pointer pointer-yes'>Accepted: <b>$<%= number_with_delimiter(@vendor_sum_keep, :delimiter => ',') %></b></div>
            <div id="reject" class='btn btn-danger div-shadow mt-2 mb-2 mr-3 ml-3 pt-1 pb-1 cursor-pointer pointer-yes'>Rejected: <b>$<%= number_with_delimiter(@vendor_sum_reject, :delimiter => ',') %></b></div>
            <div id="missing" class='btn btn-dark purple div-shadow mt-2 mb-2 mr-3 ml-3 pt-1 pb-1 cursor-pointer pointer-yes'>Missing: <b>$<%= number_with_delimiter(@vendor_sum_missing, :delimiter => ',') %></b></div>
            <div id="all" class='btn btn-secondary div-shadow mt-2 mb-2 mr-3 ml-3 pt-1 pb-1 cursor-pointer pointer-yes'>Total: <b>$<%= number_with_delimiter(@vendor_sum_total, :delimiter => ',') %></b></div>
        </nav>
    <% end %>
    <% if @vendor_order_id == params[:search] %>
        <div class='container card card-body mt-0 pb-0 pt-0 no-shadow no-border d-flex flex-row justify-content-center position-fixed bg-light div-shadow w-100 rounded-0' style="bottom:0; z-index:9; max-width: 200%">
            <a href="/buybacks.csv?search=<%= @vendor_order_id %>" target="_self" class='btn btn-transparent border-0 no-shadow ml-3 mr-3 mt-0 mb-0 rounded-0 button-min'>
                <button class="btn btn-success div-shadow rounded-circle mt-0 mb-0 mr-1" style="height:44px;">
                    <i class="fas fa-download fa-fw"></i>
                </button>
                <b> Accepted</b>
                <br>
            </a>
            

            <a href="/buybacks.csv2?search=<%= @vendor_order_id %>" target="_self" class='btn btn-transparent border-0 no-shadow ml-3 mr-3 mt-0 mb-0 rounded-0 button-min'>
                <button class="btn btn-danger div-shadow rounded-circle mt-0 mb-0 mr-1" style="height:44px;">
                    <i class="fas fa-download fa-fw"></i>
                </button>
                <b> Rejected</b>
            </a>

            <a href="/buybacks.csv3?search=<%= @vendor_order_id %>" target="_self" class='btn btn-transparent border-0 no-shadow ml-3 mr-3 mt-0 mb-0 rounded-0 button-min'>
                <button class="btn btn-secondary div-shadow rounded-circle mt-0 mb-0 mr-1" style="height:44px;">
                    <i class="fas fa-download fa-fw"></i>
                </button>
                <b> All</b>
            </a>
            <% if current_user.admin %>
                <%= form_tag ({ :controller => 'buybacks', :action => 'destroy_this_order'}) do%>
                    <%= tag.a type: 'submit', data: { confirm: "Are you sure you want to delete this order?" }, class: "btn btn-transparent border-0 no-shadow ml-3 mr-3 mt-0 mb-0 rounded-0 button-min", style: "-webkit-appearance:none;" do %>
                        <%= tag.button type: 'submit', class: "btn btn-warning div-shadow rounded-circle mt-0 mb-0 mr-1", style: "height:44px" do %>
                            <i class="fas fa-trash fa-fw"></i>
                        <% end %>
                        <b> Delete</b>
            
                    <% end %>
                <% end %>
            <% end %>
        </div>
    <% end %>
<% end %>