<div id="uploader" class="card card-body div-shadow no-radius label upload-container fixed-top bg-light mt-5" style="z-index:5010">
    <div class="container">
        
        <br>


        <%= form_tag ({ :controller => 'buybacks', :action => 'destroy_them_all'}) do%>
            <%= submit_tag 'Reset', data: { confirm: "Are you sure you want to reset the Orders database?" }, class: "d-none btn btn-danger div-shadow font-20 float-right" %>
        <% end %>
        
        <%= render 'buybacks/other_upload_form' %>

        <br>

        <% @vendor_all_buybacks.order("created_at DESC")[0,1].each do |all_buyback|%>
            <center>
                Database last updated on <b><%= all_buyback.created_at.strftime("%m/%d/%Y") %></b> at <%= all_buyback.created_at.strftime("%I:%M %p") %>
            </center>
        <% end %>
        <br>
        <center>
            <div class="btn btn-warning div-shadow rounded-circle" id="upload-hide"><i class="fas fa-times"></i></div>
        </center>

    </div>
</div>