<center>
    <p>There are no orders containing the term you entered.</p>
    <br>
    <br>
</center>

<center>
    <h1><% content_for :title, "Recent Orders" %>Recent Orders</h1>
</center>
<br>
<div id="content">
    <div id="item" class="container card p-0 label-font div-shadow label overflow-hidden rounded">
        <table class="bg-light overflow-hidden rounded" style="width:100%">
            <tr class="bg-dark" style="margin-top:-30px; color:white">
                <th class="text-center">Order ID</th>
                <th class="text-center">Order Date</th>
                <th class="text-center">Last Updated</th>                
                <th class="text-center">Total Items</th>
                <th class="text-center">Status</th>
            </tr>
            <% if @vendor_all_orders.present? %>
                <% @vendor_all_orders.each do |a|%>
                    <tr class="">
                            <td class="text-center p-2 label-edit-label"><a href="/buybacks?search=<%= a.order_id %>" target="_self"><b><%= a.order_id %></b></a></td>
                            <td class="text-center p-2 label-edit-label">
                                <% @vendor_all_buybacks.where(order_id: a.order_id).order("created_at ASC")[0,1].each do |b|%>
                                    <b><%= b.created_at.strftime("%m/%d/%Y") %></b>
                                <% end %>
                            </td>
                            <td class="text-center p-2 label-edit-label">
                                <% @vendor_all_buybacks.where(order_id: a.order_id).order("updated_at DESC")[0,1].each do |b|%>
                                    <b><%= b.updated_at.strftime("%m/%d/%Y") %></b>
                                <% end %>
                            </td>
                            <td class="text-center p-2 label-edit-label">
                                    <%= @vendor_summary_buybacks_counter.where(order_id: a.order_id).count %>
                            </td>
                            <td class="text-center p-2">
                                <div class="processing-complete"><%= @vendor_summary_buybacks_counter.where(order_id: a.order_id).where(status: ["Review", "Review-Keep"]).count + @vendor_summary_buybacks_counter.where(order_id: a.order_id).where(status: ["Reject-Blue", "Reject-Yellow"]).where(notes: "").count %> items to process</div>
                            </td>
                    </tr>
                <% end %>
            <% end %>
        </table>
    </div>
</div>
        


