<center>
    <p>There are no buybacks containing the term you entered.</p>
    <br>
    <br>
</center>

<center>
    <h2>Recent Orders</h2>
</center>

<center>
<div class='container card card-body div-shadow m-4 bg-light'>

    <div class='container card card-body flex-row bg-light border-0 mt-0 mb-0 pb-0'>

        <% if @vendor_all_orders[0,4].present? %>
            <% @vendor_all_orders[0,4].each do |a|%>
                <div class='card card-body m-3 text-dark div-shadow'>
                    <center>Order ID:</center>
                    <center><a href="/buybacks?search=<%= a.order_id %>" target="_self"><b><%= a.order_id %></b></a></center>
                    <center>Date: <b><%= a.created_at.strftime("%m/%d/%Y") %></b></center>
                    <center>Vendor: <b><%= a.vendor %></b></center>
                </div>      
            <% end %>
        <% end %>

    </div>

    <div class='container card card-body flex-row bg-light border-0 mt-0 mb-0 pt-0 pb-0'>
        <% if @vendor_all_orders[5,4].present? %>
            <% @vendor_all_orders[5,4].each do |a|%>
                <div class='card card-body m-3 text-dark div-shadow'>
                    <center>Order ID:</center>
                    <center><a href="/buybacks?search=<%= a.order_id %>" target="_self"><b><%= a.order_id %></b></a></center>
                    <center>Date: <b><%= a.created_at.strftime("%m/%d/%Y") %></b></center>
                    <center>Vendor: <b><%= a.vendor %></b></center>
                </div>      
            <% end %>
        <% end %>

    </div>

    <div class='container card card-body flex-row bg-light border-0 mt-0 mb-0 pt-0'>

        <% if @vendor_all_orders[9,4].present? %>
            <% @vendor_all_orders[9,4].each do |a|%>
                <div class='card card-body m-3 text-dark div-shadow'>
                    <center>Order ID:</center>
                    <center><a href="/buybacks?search=<%= a.order_id %>" target="_self"><b><%= a.order_id %></b></a></center>
                    <center>Date: <b><%= a.created_at.strftime("%m/%d/%Y") %></b></center>
                    <center>Vendor: <b><%= a.vendor %></b></center>
                </div>      
            <% end %>
        <% end %>

    </div>
</div>
</center>