<%= render 'buybacks/uploader' %>
<br>
<% if notice %>
    <p class="alert alert-success message-format"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger message-format"><%= alert %></p>
<% end %>
<br>
<center>
    <h1><% content_for :title, "Book Label Printer" %>Valore Label Printer</h1>
</center>
<br>
<br>
<center>
    <%= form_tag(buybacks_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Order or Box Number", :minlength => 6, onkeyup: 'this.value = this.value.toUpperCase();', :required => 'required', class: 'input-shadow search-input div-shadow font-20' %>

        <%= button_tag type: 'submit', class: "btn btn-primary div-shadow font-20", id: "submit-button" do %>
            Search <i class="fas fa-search"></i>
        <% end %>
  
    <% end %>
    <br>
    <br>
</center>

<% if @buybacks.present? %>

    <% @buybacks[0,1].each do |buyback|%>
        <center>
            <button id="cmd" class="btn btn-success div-shadow print-button font-20"><i class="fas fa-print"></i> Print</button>
        </center>
    <% end %>
    <br>
    <% @buybacks[0,1].each do |buyback|%>
        <center>
            Order Number: <a href="/?search=<%= @order_id %>&initials=<%= params[:initials] %>" target="_self"><b><%= @order_id %></b></a> | Total Boxes in Order: <b><%= @boxcount.count %></b>
            <% if @order_id != params[:search] %>
                 | Box Number: <b><%= buyback.tracking_number %></b>
                <br>
                <br>
                Total Items in Box: <b><%= @buybacks.count %></b>
            <% else %>
                <br>
                <br>
                Total Items in Order: <b><%= @buybacks.count %></b>
            <% end %>
        </center>
    <% end %>

    <div id="content">
        <%= render @buybacks %>
    </div>

    <div id="editor"></div>



<% else %>
    <center>
        <p>There are no buybacks containing the term you entered.</p>
    </center>
<% end %>
<br>
<br>