
<% if current_user.nil? %>
    <%= render 'layouts/unauthorized' %>      
<% else %>
    <% if current_user.active && (current_user.power_user || current_user.admin) %>
        <%= render 'buybacks/uploader' %>
        <br>

        <center>
            <% if @buybacks.present? %>
                <% @buybacks[0,1].each do |buyback|%>
                    <h1><% content_for :title, "Order Processing" %><%= buyback.vendor %> Order Processing</h1>
                <% end %>
            <% else %>
                <h1><% content_for :title, "Order Processing" %>Order Processing</h1>
            <% end %>
        </center>
        <br>

        <%= render 'buybacks/search' %>
        <br>

        <% if @buybacks.present? %>

            
            <%= render 'buybacks/summary' %>
            <%= render 'buybacks/add_book' %>

            <div id="content">
                <%= render @buybacks %>
            </div>
            <br>
            <br>
            <br>

            <div id="editor"></div>



        <% else %>
            
            <%= render 'buybacks/order_list' %>

        <% end %>
        <br>
    <% end %>
<% end %>

