<div class="well div-shadow no-radius">
    <div class="container">
        <% if notice %>
            <p class="alert alert-success message-format"><%= notice %></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-danger message-format"><%= alert %></p>
        <% end %>
        <h1>Book Label Printer</h1>


        <%= form_for :buyback, url: buybacks_path do |f| %>
            <div class="form-group">
                <%= f.label :file, "Upload Orders" %>
                <%= f.file_field :file, class: 'form-control-file btn btn-warning div-shadow', required: true %>
            </div>
            <%= button_tag type: 'submit', class: "btn btn-secondary div-shadow font-20", id: "submit-button" do %>
                <i class="fas fa-upload"></i> Upload
            <% end %>
        <% end %>
        <br>
    </div>
</div>
<br>
<center>
    <%= form_tag(buybacks_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Orders", :minlength => 6, :required => 'required', class: 'input-shadow search-input div-shadow font-20' %>
        

        <%= button_tag type: 'submit', class: "btn btn-primary div-shadow font-20", id: "submit-button" do %>
            Search <i class="fas fa-search"></i>
        <% end %>
    <% end %>
    <br>
    <br>
</center>

<% if @buybacks.present? %>

    <% @buybacks[0,1].each do |buyback|%>
        <center>
           <a class="font-20" href="https://buyback.textbookmaniac.com/admin/orders/<%= buyback.order_hash %>" target="_blank">Go to order</a>
        </center>
    <% end %>
    <br>
    <br>

    <center>
        <button id="cmd" class="btn btn-success div-shadow print-button"><i class="fas fa-print"></i> Print</button>
    </center>
    <br>

    <div id="content">
    
        <%= render @buybacks %>
    </div>

    <div id="editor"></div>



<% else %>
    <center>
        <p>There are no buybacks containing the term(s) <%= params[:search] %>.</p>
    </center>
<% end %>