<div id="uploader" class="card card-body div-shadow no-radius label upload-container">
    <div class="container">
        
        <br>

        <%= form_tag ({ :controller => 'buybacks', :action => 'destroy_them_all'}) do%>
            <%= submit_tag 'Reset', data: { confirm: "Are you sure you want to reset the Orders database?" }, class: "btn btn-danger div-shadow font-20 float-right" %>
        <% end %>

        <a href="http://metabase.textbookmaniac.com/public/question/ca1f5b58-d349-43ae-95eb-603a1429b3ec.csv" target="_blank" class="btn btn-primary div-shadow font-20 active">Download Orders</a>
        <br>
        <br>
        <%= form_for :buyback, url: buybacks_path do |f| %>
            <div class="form-group uploader">
                <%= f.label :file, "Upload Orders" %>
                <%= f.file_field :file, class: 'form-control-file btn btn-warning div-shadow uploader', required: true %>
            </div>
            <%= button_tag type: 'submit', class: "btn btn-secondary div-shadow font-20", id: "submit-button" do %>
                <i class="fas fa-upload"></i> Upload
            <% end %>
        <% end %>
        <br>

        <% @all_buybacks[0,1].each do |all_buyback|%>
            <center>
                Database last updated on <b><%= all_buyback.created_at.strftime("%m/%d/%Y") %></b> at <%= all_buyback.created_at.strftime("%I:%M %p") %>
            </center>
        <% end %>
        <br>
        <center>
        <div class="btn btn-warning div-shadow" id="upload-hide">Close</div>
        </center>

    </div>
</div>
<br>
<% if notice %>
    <p class="alert alert-success message-format"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger message-format"><%= alert %></p>
<% end %>
<br>
<center>
    <h1>Book Label Printer</h1>
</center>
<br>
<br>
<center>
    <%= form_tag(buybacks_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Order or Tracking Number", :minlength => 6, onkeyup: 'this.value = this.value.toUpperCase();', :required => 'required', class: 'input-shadow search-input div-shadow font-20' %>

        <%= button_tag type: 'submit', class: "btn btn-primary div-shadow font-20", id: "submit-button" do %>
            Search <i class="fas fa-search"></i>
        <% end %>
        <br>
        <br>
        <center>
            <%= text_field_tag :initials, params[:initials], placeholder: "Initials", :minlength => 2, :maxlength => 2, onkeyup: 'this.value = this.value.toUpperCase();', :required => 'required', class: 'input-shadow init-input div-shadow font-20' %>
        </center>    
    <% end %>
    <br>
    <br>
</center>

<% if @buybacks.present? %>

    <% @buybacks[0,1].each do |buyback|%>
        <center>
            <a class="font-20" href="https://buyback.textbookmaniac.com/admin/orders/<%= buyback.order_hash %>" target="_blank"><button id="cmd" class="btn btn-success div-shadow print-button"><i class="fas fa-print"></i> Print</button></a>
        </center>
    <% end %>
    <br>

    <div id="content">
    
        <%= render @buybacks %>
    </div>

    <div id="editor"></div>



<% else %>
    <center>
        <p>There are no buybacks containing the term you entered.</p>
    </center>
<% end %>
<br>
<br>