<div class="well">
    <div class="container">
        <% if notice %>
            <p class="alert alert-success message-format"><%= notice %></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-danger message-format"><%= alert %></p>
        <% end %>
        <h1>Book Label Printer</h1>


        <%= form_for :buyback, url: buybacks_path do |f| %>
            <div class="form-group">
                <%= f.label :file, "Upload CSV File" %>
                <%= f.file_field :file, class: 'form-control-file', required: true %>
            </div>
            <%= button_tag type: 'submit', class: "btn", id: "submit-button" do %>
                Upload CSV
            <% end %>
        <% end %>
    </div>
</div>

<center>
    <%= form_tag(buybacks_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Orders" %>
        <%= submit_tag "Search" %>
    <% end %>
    <br>
</center>

<% if @buybacks.present? %>
<div id="content">
     <%= render @buybacks %>
</div>

<div id="editor"></div>

<center>
    <button id="cmd">Print</button>
</center>

<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>