<tr>
    <td class="text-center"><%= price.isbn.truncate(50, omission: '...') %></td>
    <td class="text-center"><%= price.title.truncate(40, omission: '...') %></td>
    <td class="text-center">$<%= number_with_precision(price.amount.to_f, precision: 2)  %></td>
    <td class="text-center"><%= price.final_qty %></td>
    <td class="text-center">$<%= number_with_precision(price.total.to_f, precision: 2)  %></td>
</tr>