<br>
<% if notice %>
    <p class="alert alert-success message-format"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger message-format"><%= alert %></p>
<% end %>
<br>
<center>
    <h1><% content_for :title, "Price Generator" %>Price Generator</h1>
</center>
<% @prices[0,1].each do |price|%>
    <center>
        Database last updated on <b><%= price.created_at.strftime("%m/%d/%Y") %></b> at <%= price.created_at.strftime("%I:%M %p") %>
    </center>
<% end %>

<% if @prices.present? %>
    <br>
    <br>
    <% if @prices_with_diff.present? %>
        <center>
            <p>
            <h3 class="btn btn-success div-shadow font-20" style="margin-top: -20px;">&nbsp<i class="fas fa-info-circle"> &nbsp</i><%= number_with_precision(@counter2.to_f, precision: 0, :delimiter => ',') %> matched ISBNs!</h3>
            </p>
        </center>
        <br>
        <div class='container card card-body d-flex flex-row mt-3 mb-5 div-shadow label-container'>
            <div class="container card p-0 label-font no-shadow label">

                <center>
                    <h2><b>Step 3</b></h2>
                    <p>Download the comparison file.<p>
                    <% if @prices_with_diff.present? %>
                        &nbsp;&nbsp;&nbsp;<a href="/prices.csv" target="_blank" class="btn btn-primary div-shadow font-20">Compare File</a>
                    <% end %>
                </center> 

            </div>
        </div>
        <div class='container card card-body d-flex flex-row mt-3 mb-5 div-shadow label-container'>
            <div id="label" class="container card p-0 label-font no-shadow label">
                <table style="width:100%">
                <tr>
                    <th class="text-left">ISBN</th>
                    <th class="text-right">Inventory Price</th>
                    <th class="text-right">Sold Price</th>
                    <th class="text-right">Wholesale Price</th>
                    <th class="text-right">Difference</th>
                </tr>
                    <%= render @prices_with_diff[0,200] %>
                </table>
            </div>
        </div>
    <% else %>
        <center>
            <p>
            <h3 class="btn btn-info div-shadow font-20" style="margin-top: -20px;">&nbsp<i class="fas fa-info-circle"> &nbsp</i><%= number_with_precision(@counter.to_f, precision: 0, :delimiter => ',') %> ISBNs imported!</h3>
            </p>
        </center>
        <br>
        <div class='container card card-body d-flex flex-row mt-3 mb-5 div-shadow label-container'>
            <div class="container card p-0 label-font no-shadow label">

                <center>
                    <h2><b>Step 2</b></h2>
                    <p>Upload the current <b>SellerEngine Inventory File</b>. This will take about 5 minutes.<p>
                    <br>
                    <%= form_for :price, url: prices_path do |f| %>
                        <div class="form-group uploader">
                            <p>Where is this file coming from?<p>
                            <span class=''>
                                <%= f.select :destination, raw("<option>SellerEngine</option><option>Fillz</option>"), :required => 'required', class: '' %>
                            </span>
                            <br>
                            <br>
                            <%= f.file_field :file, class: 'form-control-file btn btn-warning div-shadow uploader', required: true %>
                        </div>
                        <%= button_tag type: 'submit', class: "btn btn-secondary div-shadow font-20", id: "submit-button" do %>
                            <i class="fas fa-upload"></i> Upload
                        <% end %>
                    <% end %>
                </center> 

            </div>
        </div>
        <br>
        <br>
    <% end %>
<% else %>
    <br>
    <br>
    <div class='container card card-body d-flex flex-row mt-3 mb-5 div-shadow label-container'>
        <div class="container card p-0 label-font no-shadow label">

            <center>
                <h2><b>Step 1</b></h2>
                <p>Import the current Nebraska prices. If this fails, just reload this page and try again.<p>
                <br>
                <%= form_tag ({ :controller => 'prices', :action => 'import_url'}) do%>
                    <%= submit_tag 'Import Current Nebraska Prices', data: { confirm: "This will take about a minute to complete." }, class: "btn btn-danger div-shadow font-20" %>
                <% end %>
                <br>
                <%= form_tag ({ :controller => 'prices', :action => 'import_url_rat'}) do%>
                    <%= submit_tag 'Import Current Texas Prices', data: { confirm: "This will take about a minute to complete." }, class: "btn btn-warning div-shadow font-20" %>
                <% end %>
            </center> 

        </div>
    </div>
    
<% end %>
