    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav-container">
        <a href="#" class="navbar-brand">
            <div class="navbar-brand-inner"></div>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <%= link_to "Processing", home_path, class: 'nav-item nav-link active' %>
                <%= link_to "File Generator", offers_path, class: 'nav-item nav-link active' %>
                <%= link_to "Quick Links", links_path, class: 'nav-item nav-link active' %>
                <a href="https://buyback.textbookmaniac.com/admin" target="_blank" class="nav-item nav-link">Old Admin</a>
                <a href="http://admin.textbookmaniac.com" target="_blank" class="nav-item nav-link">New Admin</a>
                <a href="http://metabase.textbookmaniac.com/" target="_blank" class="nav-item nav-link">Metabase</a>
                <a href="http://camelcamelcamel.com/" target="_blank" class="nav-item nav-link">Camel</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if controller_name == "buybacks" %>
                    <div id="upload-show" class="nav-item btn btn-warning text-dark div-shadow">Upload Orders</div>
                <% end %>

                <% if controller_name == "offers" %>
                    <%= form_tag ({ :controller => 'offers', :action => 'destroy_them_all'}) do%>
                        <%= submit_tag 'Start New File', data: { confirm: "Are you sure? This will reset the database!" }, class: "nav-item btn btn-warning text-dark div-shadow" %>
                    <% end %>
                <% end %>
                
            </div>
        </div>
    </nav>
